---

- name: configure system language (/etc/sysconfig/i18n)
  template:
    src: i18n.conf.j2
    dest: /etc/sysconfig/i18n
    owner: root
    group: root
    mode: 0644

- name: configure virtual console keyboard (/etc/sysconfig/keyboard)
  template:
    src: keyboard.conf.j2
    dest: /etc/sysconfig/keyboard
    owner: root
    group: root
    mode: 0644

...
