{% if system_keyboard_keytable is defined %}
KEYTABLE="{{ system_keyboard_keytable }}"
{% endif %}
{% if system_keyboard_model is defined %}
MODEL="{{ system_keyboard_model }}"
{% endif %}
{% if system_keyboard_layout is defined %}
LAYOUT="{{ system_keyboard_layout }}"
{% endif %}
{% if system_keyboard_type is defined %}
KEYBOARDTYPE="{{ system_keyboard_type }}"
{% endif %}
{% if system_keyboard_variant is defined %}
VARIANT="{{ system_keyboard_variant }}"
{% endif %}
